<h3 style="color:blue">
  {{titulo}}
</h3>
<hr>
<h3>Selector de colores</h3>
<input type="text" [(ngModel)]="color_seleccionado">
<div [ngStyle]="{'background':color_seleccionado,
      'width':'200px',
      'height':'200px',
      'float':'right',
      'margin-right':'69%'}"></div>
<div style="clear:both"></div>
<hr>

<strong>Empleado estrella:</strong>

<div *ngIf="trabajadorExterno == true">
<button (click)="cambiarExterno(false)">Mostrar Trabajador</button>
  <ul>
    <li>{{empleados[0].nombre}}</li>
    <li>{{empleados[0].edad}}</li>
    <li>{{empleados[0].cargo}}</li>
    <li>{{empleados[0].status}}</li>
  </ul>
</div>

<div *ngIf="trabajadorExterno == false">
  <button (click)="cambiarExterno(true)">Mostrar Empleado</button>
  <ul>
    <li>{{trabajador.nombre}}</li>
    <li>{{trabajador.edad}}</li>
    <li>{{trabajador.cargo}}</li>
    <li>{{trabajador.status}}</li>
  </ul>
</div>

<hr>

<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of empleados; let i = index">
    <strong>Empleado {{i}}:</strong>
    <ul>
        <li>{{empleado.nombre}}</li>
        <li>{{empleado.edad}}</li>
        <li>{{empleado.cargo}}</li>
        <li *ngIf="empleado.status == true">Empleado</li>
        <li *ngIf="empleado.status == false">No empleado</li>
    </ul>
  </li>
</ul>

<hr>
<h3> Color swich</h3>

<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background':color,'color': 'white','padding':'20px'}">Es de color {{color}}</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background':color,'color': 'white','padding':'20px'}">Es de color {{color}}</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{'background':color,'color': 'white','padding':'20px'}">Es de color {{color}}</li>
</ul>