 <div #gmap style="width:100%;height:800px"></div>
 <br>
 latswBound<input type="text" [(ngModel)]="latswBound">
 <br>
 lngswBound<input type="text" [(ngModel)]="lngswBound">
 <br>
 latneBound<input type="text" [(ngModel)]="latneBound">
 <br>
 lngneBound<input type="text" [(ngModel)]="lngneBound">
 <br>
<input type="button" (click)="addMap()" value="Crear imagen">
<input type="button" (click)="delMap()" value="Borrar imagen">







